*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}
html, body {
    height: 100%;
    font-family: var(--fonte);
    font-size: var(--tamanho-da-fonte);
    color: var(--cor-do-texto);
}
a {
    text-decoration: none;
}
ul, ol {
    text-decoration: none;
    list-style: none;
}

nav{
    text-decoration: none;
}