footer {
    background-color: gray;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

.coluna-footer {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: white;

}

.titulo-footer {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: yellow;
}

.redes-sociais {
    width: 60px;
    padding: 10px;
}
footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s;
}
footer a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
}