.hero{
    width: 100%;
    height:400px;
    position: relative;
    background-image: url(../img/night-construction-site.jpg);
    background-size:cover;
    background-position: center;
}
.conteudo-hero{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(to top , black, transparent);
    bottom: 0;
    gap: 30px;
}
.botao-orcamento{
   background-color: yellow;
   padding: 10px 20px;
   color: black;
   border: none;
   border-radius: 15px 5px 15px;
   cursor: pointer;
   font-size: 1.2em; 
   transition: all 0.3s;
}
.botao-orcamento:hover{
    background-color: darkorange;
    color: white;
}


.hero p1{
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    max-width: 600px;
}