.projetos {
    margin: 80px 0 auto;
    padding: 20px 0;
    width: 100%;
    height: 850px;
    background-color: black;

}

.container-projetos {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.cards-projeto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card-projeto {
    flex-basis: calc(50% - 10px);
    height: 300px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 1px solid black;
}

.projeto-imagem {
    position: absolute;
    width: 100%;
    height: 100%;
}


.figcaption-projeto {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    transform: translateY(100%);
    transition: all 0.5s;

}

.card-projeto:hover .figcaption-projeto {
    transform: translateY(0);
    background: linear-gradient(to top, black, transparent);
    backdrop-filter: blur(1px);
}


.projetos .titulo {
    color: white;
    font-size: 24px;
}

.botao-projetos {
    position: absolute;
    left: 45%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.botao-projetos .botao-orcamento {

    border-radius: 2px;

}