.container-servicos {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.titulo-interno {
    color: rgb(228, 228, 26);
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card-servico {
    flex-basis: calc(25% - 10px);
    height: 280px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.servico-imagem {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
}

.figcaption-servico {
    position: absolute;
    bottom: -100%; 
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: bottom 0.9s ease;
    text-align: center;
    justify-content: center;
}

.card-servico:hover .figcaption-servico {
   bottom: 0;
   backdrop-filter: blur(5px);
}

.servicos .botao-projetos {
    margin-top: 40px
}

.servicos .botao-projetos .botao-orcamento {
    border-radius: 10px 5px;
}
.card-coluna{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}
.card-servico h3{
    text-align: center;
    font-size: 1.2rem;
    margin: 15px 0;
    color: rgb(228, 228, 26);
}
.servicos p{
    text-align: center;
    font-size: 1rem;
    margin: 10px 0;
    color: rgb(255, 255, 255);
}