.servicos-pagina{
    margin:  40px auto;
    background-color: rgb(54, 54, 54);
    color: white;
    align-items: center;
    justify-content: center;
    transition: all 1.2s;
}
.servicos-pagina:hover{
    background-color: rgba(44, 44, 44, 0.829);
}
.container-servicos-pagina{
    border: 2px solid white;
}
.servicos-pagina .hero{
    width: 100%;
}
.cards-servico-pagina{
    display: flex;
    flex-wrap: wrap;   
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 80px;
}
.card-servico-pagina-vertical{
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
}
.card-servico-pagina{
    position: relative;
    width: 450px;
    height: 250px;
    border: 2px solid white;
    object-fit: cover;
}
.img-card-servico-pagina-vertical{
    width: 398px;
    height: 398px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    object-fit: cover;
    
}
.card-servico-pagina-vertical figcaption{
    position: absolute;
    bottom: -100%; 
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: bottom 0.9s ease;
}
.card-servico-pagina-vertical:hover figcaption{
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
}
.servicos-pagina h3{
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 0;
    color: rgb(255, 238, 0);
}