.container-servicos{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
    padding: 20px;
}
.titulo-interno{
    color: rgb(228, 228, 26);
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}
.cards{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.card-servico{
    flex-basis: calc(25% - 10px);
    height: 280px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.servico-imagem{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
}
.figcaption-servico{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    transform: translateY(100%);
    transition: all  0,8 ease-in-out;
    backdrop-filter: blur(5px);
}
.card-servico:hover .figcaption-servico{
    transform: translateY(0);
}
